body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Main Heading */
header {
    background-color: rgb(23,23,23);
    color: #fff;
    padding: 10px;
    margin: 0;
}

#logo h1 {
    margin: 0;
    padding: 0.5em;
    display: inline;
    vertical-align: middle;
}

#logo img {
    vertical-align: middle;
    width: 7%;
}

/* Navigation */
nav a {
    padding: 1em;
    color: #fff;
    text-decoration: none;
}


/* Usage of @media */
@media (min-width: 768px) {
    .header {
        padding: 20px;
    }
}

/* Main Content */
#content {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

/* Projects */
.projects {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.projects img {
    width: 13%;
    height: auto;
}


@media (max-width: 600px) {
    .projects img {
        width: 100%;
    }
}

/* Contact + Form */
#contact-email {
    text-decoration: none; 
    color:#404040;
}

#contact-form form {
    margin-top: 20px;
}

#contact-form label {
    display: block;
    margin-top: 10px;
}

#contact-form input[type="text"],
input[type="email"], 
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-form input[type="submit"]:hover {
    background-color: #45a049;
}

/* For Project 3 */
#tasks {
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
}

#tasks h3 {
    text-align: center;
}

#taskForm {
    text-decoration: none; 
    color:#404040;
}

#taskForm form {
    margin-top: 20px;
}

#ctaskForm label {
    display: block;
    margin-top: 10px;
}

#taskForm input[type="text"],
input[type="text"], 
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#taskForm select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#taskForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#taskForm input[type="submit"]:hover {
    background-color: #45a049;
}

/* Task Labels and Task Delete CSS */
@media (max-width: 850px) {
    #taskLabel, #taskDelete {
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: calc(16px + 0.4vw);
    }
    #tasDelete {
        margin-bottom: 10px;
    }
}
@media (min-width: 850px) {
    #taskLabel {
        display: inline-block;
        padding: 0.5em;
        width: 70%;
        font-size: calc(16px + 0.4vw);
    }
    #taskDelete {
        display: inline-block;
        padding: 0.5em;
        width: 25%;
        text-align: right;
    }
}

#taskDelete button {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#taskDelete button:hover {
    background-color: #db3b30;
}

/* For Project 5 */
div#locOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Footer */
footer {
    background-color: rgb(23,23,23);;
    color: #fff;
    padding: 10px;
    margin: 0;
    bottom: 0;
}

#footer p {
    display: inline;
    padding: 0.5em;
}