body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Main Heading */
header {
    background-color: rgb(23,23,23);
    color: #fff;
    padding: 10px;
    margin: 0;
}

@media (min-width: 768px) {
    .header {
        padding: 20px;
    }
}

#logo h1 {
    margin: 0;
    padding: 0.5em;
    display: inline;
    vertical-align: middle;
}

#logo img {
    vertical-align: middle;
    width: 7%;
}

@media (max-width: 551px) {
    #logo img {
        width: 15%;
    }
}

/* Navigation */
nav a {
    margin-bottom: 10px;
    padding: 1em;
    color: #fff;
    text-decoration: none;
    padding-bottom: 0.5em;
}

nav img {
    margin-bottom: -4px;
    width: 20px;
    height: auto;

    margin-left: 2%;
}

/* Main Content */
h2 {
    text-align: center;
    margin-top: 20px;
}

.images {
    width: 30%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .images {
        width: 100%;
    }
}

#content {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

/* Projects */
.projects {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.projects img {
    width: 13%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .projects img {
        width: 100%;
    }
}

/* Contact page */
#contact-email {
    color: #3d0f0f;
    text-decoration: none;
}
/* Contact Form (for project 6) */
#contact-form-container {
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
}

#contact-form {
    margin-top: 20px;
}

#contact-form label {
    display: block;
    margin-top: 10px;
}

#contact-form input[type="text"],
input[type="email"], 
input[type="number"],
input[type="password"],
input[type="input"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact-form input[type="checkbox"]
{
    width: 5%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#agreement {
    background-color: #f43b3b;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contactform input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contactform input[type="submit"]:hover {
    background-color: #45a049;
}

/* For Project 3 */
#tasks {
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
}

#tasks h3 {
    text-align: center;
}

#taskForm {
    text-decoration: none; 
    color:#404040;
}

#taskForm form {
    margin-top: 20px;
}

#ctaskForm label {
    display: block;
    margin-top: 10px;
}

#taskForm input[type="text"],
input[type="text"], 
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#taskForm select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#taskForm input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#taskForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#taskForm input[type="submit"]:hover {
    background-color: #45a049;
}

/* 
    Task Info Div is the container for the task label, priority level, due date, and status
    Next to it is the delete button
*/
#taskDiv {
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
}



/* Task Labels and Task Delete CSS */
@media (max-width: 850px) {
    .task {
        display: block;
        margin-bottom: 10px;
    }

    .taskImage {
        display: block;
        height: 300px;
        width: 300px; 
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        border-radius: 20px;
        text-align: center;
    }

    .taskInfo {
        display: block;
        margin-top: 10px;
        padding: 10px;
        text-align: center;
    }
    .taskLabel {
        font-size: calc(20px + 0.4vw);
    }
    .taskStatus, .taskDueDate {
        font-size: calc(12px + 0.4vw);
    }

    .taskLabel, .taskStatus, .taskDueDate {
        display: block;
        padding: 0.1em;
        text-align: center;
    }

    .taskDelete {
        margin-bottom: 10px;
        text-align: center;
    }
}

/* 
    If the screen becomes big enough, display content like this:

                    Task Label
    [IMAGE]         Task Status                                  Delete Button
                    Task Due Date

*/
@media (min-width: 850px) {
    .task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
    }

    .taskImage {
        height: 120px;
        width: auto; 
        margin-right: 10px;
        border-radius: 20px;
    }

    .taskInfo {
        margin-top: 10px;
        padding: 10px;
        display: inline-block;
        flex-grow: 1;
    }

    .taskDelete {
        display: inline-block;
        text-align: right;
    }

    .taskLabel, .taskStatus, .taskDueDate {
        text-align: left;
    }

    .taskLabel {
        font-size: calc(14px + 0.4vw);
    }
    .taskStatus {
        font-size: calc(13px + 0.4vw);
    }
    .taskDueDate {
        font-size: calc(12px + 0.4vw);
    }
}

.taskDelete button {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.taskDelete button:hover {
    background-color: #db3b30;
}

/* About Page (Project 5) */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#closeOverlay {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#prevOfficerButton, #nextOfficerButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#overlay-text img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#displayOfficers {
    width: 80%;
    height: auto;
    border-radius: 4px;
}

@media (min-width: 700px) {
    #displayOfficers {
        width: 20%;
    }
}

/* Footer */
footer {
    background-color: rgb(23,23,23);;
    color: #fff;
    padding: 10px;
    margin: 0;
    bottom: 0;
}

#footer p {
    display: inline;
    padding: 0.5em;
}